@import url(https://fonts.googleapis.com/css?family=Delius:regular);


*,
*::before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none;
  text-wrap: nowrap;
}

ul {
  list-style: none;
}

img {
  display: block;
}

button {
  border: none;
  outline: none;
  text-wrap: nowrap;
}